.activitybar-container
    .activity-item
        p Maria complet칩 
            strong realizar footer
        
    .activity-item
        p Juan asign칩 a Maria a   
            strong maquetar dise침o

    .activity-item
        p Diego realiz칩 
            strong una pregunta en realizar footer