.task-container
    display: inline-block
    min-width: 20vw
    margin: 10px
    transition: all .3s ease
    cursor: pointer
    font-size: 16px

    h1
        font-size: 1.4em

    p        
        font-size: .8em  

    &:hover
        background: #fff

@media screen and ( max-width: 426px )

    .task-container
        font-size: 10px    