mat-card.task-container((click)="openDetailModal()")
    h1(mat-card-title) {{data.name}}

    mat-card-content
        p {{data.description}}

        format-finish-date([date]="data.finish_at")
    //- collaborators-images([size]="'small'", [items]="data.collaborators")