.login-container
    .login-title
        h1 Disfruta la experiencia de trabajar con Vora en tu equipo 

    .login-card.mat-elevation-z8
        ng-container(*ngIf="showProgress")
            mat-progress-bar(mode="indeterminate")

        .card-title
            h2 {{isLogin ? 'Iniciar sesión' : 'Regístrate'}}

        app-signin(*ngIf="isLogin", (logIn)="onLoginSuccess($event)")
        app-signup(*ngIf="!isLogin", (signUp)="onLoginSuccess($event)")

        span {{isLogin ? '¿Aún no tienes una cuenta?' : '¿Ya tienes cuenta?'}} 
            button(mat-button, (click)="onChangeSignUp()") {{isLogin ? 'Regístrate' : 'Inicia sesión'}}
