.team-detail-container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 10px
    height: 10vh
    box-sizing: border-box

    .team-detail-logged
        display: flex
        align-items: center
        
        h3
            margin: 0

    .team-sidebar-toggle



