.team-detail-container
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 10px
    min-height: 10vh
    box-sizing: border-box
    font-size: 16px

    .team-detail-logged
        display: flex
        align-items: center
        flex-wrap: wrap
        
        h3
            font-size: 1.5em
            margin: 0

@media screen and ( max-width:  426px)
    .team-detail-container
        font-size: 12px
        
        .team-detail-logged
            collaborators-images
                width: 100%

