.team-detail-container
    .team-detail-logged

        a(mat-icon-button, routerLink="/landing")
            mat-icon undo

        h3 Vora / {{teamInfo?.name}}

        collaborators-images([items]="collaborators")

    .team-sidebar-toggle
        button(
            mat-icon-button,
            color="primary",
            (click)="onToggleSidebar()")
            mat-icon {{canToggle ? 'vertical_split' : (sidebarOpened ? 'close' : 'vertical_split')}}