ng-container(*ngIf="showProgress")
    mat-progress-bar(mode="indeterminate")

header
    h1(mat-dialog-title) {{data.name}}
    button(
        mat-icon-button, 
        mat-dialog-close,
        (click)="closeModal()")
        mat-icon() close

mat-dialog-content

    h3 {{data.description}}

    format-finish-date([date]="data.finish_at")

    mat-divider()

    ng-container(*ngIf="collaborators.length > 0; else ngElse1")
        collaborators-images([size]="'small'", [items]="collaborators")
    
    ng-template(#ngElse1)
        p.ngElse1 No hay colaboradores asignados

mat-dialog-actions
    button(
        mat-flat-button,
        color="accent",
        (click)="openEditTaskModal()") Editar
        
    button(
        mat-flat-button,
        color="warn",
        (click)="deleteTask()") Eliminar