.collaborators-images-container
    
    ng-container(*ngIf="justName")
        img.small-image(
            src="/assets/user.png", 
            alt="image",
            [matTooltip]="justName")

    ng-container(*ngIf="items && !justname")
        img(
            *ngFor="let i of items",
            src="/assets/user.png",
            alt="image",
            [matTooltip]="i.fullname",
            [ngClass]="{'small-image': size === 'small'}")