.collaborators-images-container
    display: flex
    flex-direction: row

    img 
        vertical-align: top
        width: 50px
        margin: 0 5px

    img.small-image
        width: 20px
        margin: 0 3px


@media screen and ( max-width: 426px )
    .collaborators-images-container
        img
            width: 30px
    